<div id="amospace">
	
	<div id="loginspace">
	<h1>Se connecter</h1>
	<br/>
	<form method="POST" action="{{ path('login_check') }}">
	
<label>Pseudo</label><br/>
<input id="username" name="_username" type="text" value="{{ last_username }}" /><br/>
<label>Mot de passe</label><br/>
<input id="password" name="_password" type="password"/><br/>


    

<input type="submit" value="Connexion" class="button-bevel green"/>

<input style="margin-top:19px; margin-left:5px;" type="checkbox" id="remember_me" name="_remember_me" checked />
 <label for="remember_me" style="vertical-align:2px;">Rester connecté</label>
</form>
	
</div>
	
	
</div>