<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Maxcarft.fr - News </title>
    </head>

    <body>
        <h1>{{ news.title }}</h1>
        <p>News écrite par <strong>{{ user }}</strong>, le {{ news.date|date('d/m/Y') }}</p>
        <p>{{ news.content }}</p> 
    </body>
</html>