{% extends "MaxcraftDefaultBundle:Others:layout.html.twig" %}

{% block title %}Paramètres{% endblock %}
{% block js %}
{% endblock %}

{% block corps %}

<div style="clear: both;height:0px;"></div>
<div id="gallerie">
    {#Render sur le wrap#}
</div>

<div class="section">

</div>


{% endblock %}




{#   MEMO
<html>
    <head>
        <title>Maxcraft - Paramètres</title>
    </head>

    <body>
        <div>
            {{ form(passwordform) }}
        </div>

        <div>
            {{ form(paramform) }}
        </div>
    </body>
</html>
#}
