<html>
    <head>
        <title>Maxcraft - Paramètres</title>
    </head>

    <body>
        <div>
            {{ form(passwordform) }}
        </div>

        <div>
            {{ form(paramform) }}
        </div>
    </body>
</html>